
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: block;
}
html,body,.page{
    width: 100%;
    height: 100%;
    margin: 0;

}
.page-home{
    background-color: #bfd1ec;
    width: 100%;
    height: 100%;
}
.page-login{
    background-color: #bfd1ec;
    width: 100%;
    height: 100%;
}
.page-channel{
    background-color: #5e88e6;
    width: 100%;
    height: 100%;
}

/* 这里是login的css */
::after, ::before {
    box-sizing: border-box;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
form {
    display: block;
    margin-top: 0;
}
.flex-shrink-0{
    background-color: #5e88e6;
}
.login-button{
    color: #0D6EFD;
}
.register-button{
    color: #0D6EFD;
}

/*这里是channel*/

.flex-shrink-0{
    height: 100%;
    background-color: #03C3C2; !important;
}
.p-3{
    background-color: #03C3C2;!important;
}
.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
    /*background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;*/
    background-color: rgb(13,110,253);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*.btn-warning{*/
/*    background-color: #0D6EFD;*/
/*}*/
